<p>comp2 works!</p>
<!-- To get string Values from Parent  -->
{{messageFromParent}}
<!--  -->
<!-- To get Objects or Arrays from Parent use below code and change "messageFromParent" property value in parent to array/objects as well -->
<!-- <div *ngFor="let a of messageFromParent">
{{a}}
</div> -->
<!-- -->
<!-- For sending data to parent use below code where we are sending input value by reference to the function and 
    that function is emitting that value to parent -->
<!-- <input type="text" #textvalue>  -->
<!-- <button (click)="sendMessage(textvalue.value)">Send Message</button> -->

